.tituloInicio{
font-size: 30px;
padding: 10%;
text-shadow: 2px 2px 4px #0084ff;
}

.imgInicio{
width: 25%;
margin-top: 3%;
border-radius: 300px 300px 200px 200px;
box-shadow: 2px 2px 4px #0084ff;
}

body{
    background-image: url('../img/fondo2.JPG');    
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
}